.starsection{
  margin: 0;
  padding: 0;
  background:url("/Rectangles.png")
  
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top-color: #3498db;
  width: 48px;
  height: 48px;
  animation: spin 1s ease-in-out infinite;
}
  .spinner {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #F7CC00; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
