@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&family=Nunito+Sans:wght@400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dangsik:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Protest+Riot&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Syncopate&display=swap');




@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-protest {
  font-family: "Protest Riot", sans-serif;
}



.font-quicksand {
  font-family: 'Quicksand', sans-serif;
}
.font-dangsik {
  font-family: 'DANGSIK', sans-serif;
}
.font-nunito {
  font-family: 'Nunito Sans', sans-serif;
}
